﻿/* fonts */
@font-face { 
	font-family: 'WebSymbolsRegular';
	src: url('/Content/fonts/websymbols-regular-webfont.ttf') format('truetype');
	src: url('/Content/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/Content/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('/Content/fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('/Content/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}

.oline { box-shadow:inset 0 0 1px #ccc; }

/* layout */
html, body, #form1 {
    width:100%; min-height:100%;
    margin:0; padding:0;
    }

body { 
    position:relative; z-index:1;
    background:url('/Content/images/top-back.png') fixed;
    font-family:Arial; font-size:12px; color:#fff;
    }

div.block-outer {
    width:82%; max-width:1400px; padding:0;
    margin:0 auto;
    }
@media (max-width:1024px) {
div.block-outer {
    width:100%; padding:0;
    margin:0 auto;
    }
}
div.block-inner {
    width:auto; padding:0 1%;
    margin:0 auto;
    }

div.block-full  { float:left; width:98%; padding:0 1%; }
div.block-left  { float:left; width:64.304347826086956521739130434783%; padding:0 1%; }
div.block-right { float:left; width:31.695652173913043478260869565217%; padding:0 1%; }

div.top-bar-cover { height:60px; }
div.bottom-bar-cover { height:70px; }
div.main-top-space { height:0px; }


ul.nav a:link,
ul.nav a:visited { color:inherit; }


div.btn {
    height:20px; padding:0px 8px;
    background:rgba(23,35,50,1); text-align:center; 
    border:0px solid rgba(0,0,0,1); border-radius:25px; box-shadow:0 0 2px #000;
    font-family:'Cuprum'; font-size:13px; line-height:20px;
    cursor:pointer;
    }
div.btn:hover { background:rgba(100,0,0,0.5); }

div.btn-2 {
    padding:0;
    border-bottom:1px dashed transparent;
    font-family:'Arial'; font-size:12px; line-height:22px; text-transform:capitalize;
    cursor:pointer;
    }
div.btn-2:hover { color:#93BFEE; border-bottom:1px dashed rgba(255,255,255,0.5); }

/* top bar (fixed) */
div#top-bar {
    position:fixed; z-index:3; top:0; right:0;
    width:100%; height:60px;
    background:url('/Content/images/top-back.png') fixed; color:rgba(255,255,255,1); 
    box-shadow:0 3px 3px rgba(0,0,0,0.5);
    }
div#top-bar div.block-full { position:relative; /*border-top-right-radius:20px; border-top-left-radius:20px;*/ }
div#top-bar div.logo { position:absolute; top:0; left:0; height:60px; width:120px; background:url('/Content/images/logo.png'); }
div#top-bar div.logo span.cursor { }
div#top-bar div.header { position:relative; width:auto; height:100%; padding-right:60px; padding-left:120px; }
div#top-bar div.header div.search-input-outer { width:auto; height:100%; padding-right:60px; }
div#top-bar input.search-input {
    display:block; width:100%; height:60px; padding:0; margin:0;
    border:none;
    background:none; outline:none;
    font-family:'Cuprum'; font-size:20px; text-transform:none; color:inherit;
    }
div#top-bar input.search-button { 
    position:absolute; top:13px; right:0; width:34px; height:34px; padding:0px; 
    background-color:rgba(255,255,255,0.1); background-color:#444;
    text-align:center; background-image:url('/Content/images/search-button.png');
    border:none; border-radius:25px; box-shadow:0 0 2px #000;
    cursor:pointer;
    }
div#top-bar input.search-button:hover { 
    background-color:#19581d; color:#000;
    }
div#top-bar div.block-right { position:relative; }
div#top-bar div.block-left:hover,
div#top-bar div.block-right:hover { background:rgba(5,40,68,0.5); }
div#top-bar div.block-left:focused,
div#top-bar div.block-right:focused { background:rgba(5,40,68,0.5); }
div#top-bar div.login { position:relative; font-family:'Century Gothic'; font-size:20px; line-height:60px; }
div#top-bar input.login-input,
div#top-bar input.pass-input {
    float:left; display:block; width:100px; height:60px; padding:0; margin:0; margin-right:10px;
    border:none;
    background:none; outline:none;
    font-family:'Cuprum'; font-size:20px; text-transform:lowercase; color:inherit;
    }


div.user-bar { float:left; width:100%; height:26px; background:rgba(0,0,0,0); }


div.side-bar-btns { float:left; margin:5px 0px; }
div.side-bar-btns ul { float:left; display:block; }
div.side-bar-btns ul li { float:left; display:block; font-family:'Trebuchet MS'; font-size:11px; text-transform:lowercase; cursor:pointer; margin-left:5px; }
div.side-bar-btns ul li:first-child { margin-left:0; }
div.side-bar-btns ul li.playlist-btn { width:32px; height:32px; background:url('/Content/images/playlist.png'); }
div.side-bar-btns ul li.lastfm-btn { width:32px; height:32px; background:url('/Content/images/lastfm.png'); }

div#body-bg {
    position:fixed; z-index:1;
    width:100%; height:100%; padding:0; padding-bottom:0px;
    background:transparent;
    }
div#body-bg div.inner {
    width:100%; height:100%; margin:0 auto;
    background:url('/Content/images/bg/wave_7-wallpaper-1680x1050.jpg') fixed center center; 
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size:cover; /* Современные браузеры */
    opacity:0.7;
    }
    
div#main-bg {
    position:fixed; z-index:1;
    width:100%; height:100%; padding:0; padding-bottom:0px;
    background:transparent; background:rgba(0,0,0,0.7);
    }
div#main-bg div.block-outer,
div#main-bg div.block-left,
div#main-bg div.block-right { height:100%; }
div#main {
    position:relative; z-index:2;
    width:auto; padding:0; margin:0;
    }
div#main div.block-left {
    padding-top:10px;
    }
.block-active { 
    background:rgba(0,0,0,0.7);
    }

div#side-bar {
    position:relative;
    color:#ccc;
    }
div#side-bar ul.side-nav { 
    position:absolute; top:0; right:0; margin:0; padding:0; 
    font-family:'Arial'; font-size:12px; color:#fff;
    }
div#side-bar ul.side-nav li { margin:10px 0; }
div#side-bar ul.side-nav a {
    display:block; width:32px; height:32px; outline:none;
    background-color:rgba(255,255,255,0.7); opacity:0.3;
    border:none; border-radius:25px; box-shadow:0 0 2px #000;
    }
div#side-bar ul.side-nav a.playlist-btn { background-image:url('/Content/images/playlist.png'); }
div#side-bar ul.side-nav a.lastfm-btn { background-image:url('/Content/images/lastfm.png'); }
div#side-bar ul.side-nav a.vkcom-btn { background-image:url('/Content/images/vkcom.png'); }
div#side-bar ul.side-nav a.login-btn { background-image:url('/Content/images/login.png'); }
div#side-bar ul.side-nav a.settings-btn { background-image:url('/Content/images/settings.png'); }

div#side-bar ul.side-nav a:hover { background-color:#19581d; opacity:1; }

div#side-bar div.side-tab { font-family:'Arial'; font-size:12px; }



div#user-bar {
    position:fixed; z-index:3; bottom:40px; right:0;
    width:100%; height:20px;
    background:#000;
    font:normal 12px/20px Cuprum; color:#666;
    }
    

div#bottom-bar {
    position:fixed; z-index:3; bottom:0; right:0;
    width:100%; height:40px;
    background:rgba(0,0,0,0.7); background:url('/Content/images/top-back.png') fixed;
    box-shadow:0 -3px 3px rgba(0,0,0,0.5);
    }
div#bottom-bar div.controls { position:relative; width:auto; height:34px; margin:3px 0; padding-right:150px; }
div#bottom-bar div.controls div.slider-container { float:right; margin:12px 0; }
div#bottom-bar div.controls div.volume-slider { width:24%; }
div#bottom-bar div.controls div.length-slider { width:70%; margin-left:3%; margin-right:3%; }
.ctrl-btns      { position:absolute; top:0; right:0; }
.ctrl-btns div  { 
    float:right; width:34px; height:34px; margin-left:6px; cursor: pointer; opacity:1; 
    background-color:none; text-align:center;
    border:none; border-radius:25px; box-shadow:0 0 2px #000;
    font-family:'WebSymbolsRegular'; font-size:14px; line-height:34px; color:inherit;
    cursor:pointer;
    }
.ctrl-btns div:hover  { background-color:#19581d; }
.ctrl-btns .prev-btn { background-image:url('/Content/images/prev.png'); }
.ctrl-btns .next-btn { background-image:url('/Content/images/next.png'); }
.ctrl-btns .play-btn { background-image:url('/Content/images/play.png'); }
.ctrl-btns .play-btn.paused { background-image:url('/Content/images/pause.png'); }
.ctrl-btns .loop-btn { background-image:url('/Content/images/loop.png'); }

div#bottom-bar div.bottom-nav { float:right; }
div#bottom-bar ul.nav {
    display:block; height:40px; margin:0; padding:0;
    list-style:none;
    }
div#bottom-bar ul.nav li { 
    float:left; height:26px; margin:7px 5px; padding:0px 8px;
    background:rgba(0,0,0,0.3); border-radius:25px; box-shadow:0 0 2px #000;
    font-family:'Cuprum'; font-size:14px; line-height:26px; color:#333;
    }
div#bottom-bar ul.nav li:hover  { background-color:#19581d; color:#fff; }
div#bottom-bar ul.nav li:first-child { margin-left:0; }
div#bottom-bar ul.nav a:link,
div#bottom-bar ul.nav a:visited { text-decoration:none; }


.playlist {
    }
.playlist .item {
    margin:0; padding:0;
    letter-spacing:normal; font-family:'Arial', 'Century Gothic'; font-size:12px; line-height:22px; font-weight:normal; color:#ccc;
    border-bottom:1px dotted rgba(255,255,255,0);
    cursor:pointer;
    }
.playlist .item a:link,
.playlist .item a:visited { color:inherit; text-decoration:none; }
.playlist .item.active { padding-bottom:12px; background:#cff; color:#000; border-color:rgba(125,220,220,0.6); cursor:auto; }
.playlist .item.active .music .options { opacity:1; }

.playlist .item .music { position:relative; }
.playlist .item .music .title    { padding-right:72px; }
.playlist .item .music .options   { position:absolute; top:0; right:0; width:72px; height:100%; opacity:0; }
.playlist .item .music .options div  { float:right; margin:0; }

.playlist #now-playing { color:#93BFEE; text-decoration:underline; }
.playlist .now-playing { color:#93BFEE; text-decoration:underline; }


.playlist .item:hover { 
    color:#93BFEE; border-bottom:1px dashed rgba(255,255,255,0.5);
    /*box-shadow:0 3px 3px rgba(0,0,0,0.5);*/
    /*border-radius:2px; background:rgba(0,0,0,0.7);*/
    /*background:url('/Content/images/top-back.png');*/
    /*margin:0 -1%; padding:0 1%;*/
    }
.playlist .item:hover .music .options { opacity:1; }






/* special styles for jquery ui */

/* --- jquery ui slider */

.slider-container { width:100%; position:relative; }

.slider {
    width:100%; height:8px; padding:0px;
	border-radius:2px;
	background:rgba(0,0,0,0.3);
    box-shadow:0 0 2px #000;
    }
.tooltip {
    display:block;    
	position:absolute; top:-25px;
	width:35px; height:20px;
	color:#fff; text-align:center; font:10pt Tahoma, Arial, sans-serif ;
	border-radius:3px; border:1px solid #333;
	background:rgba(0,0,0,0.5);
    }
.ui-slider-handle {
    position:absolute; top:-3px; z-index:2;
    width:16px; height:16px; margin-left:-8px;
    background:url('../images/track/handle.png') no-repeat 50% 50%;
    outline:none;
    cursor:pointer;
    }
.ui-slider-range {
    height:8px;
    border-radius:2px; box-shadow:inset 0 0 2px #000;
    background:url('/Content/images/track/slider-range_bg.png');
    }
    
    
.ui-tabs-vertical { width:auto; }
.ui-tabs-vertical .ui-tabs-nav { padding:0; float: left; width:auto; }
.ui-tabs-vertical .ui-tabs-nav li { clear:left; width:100%; margin:0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; text-decoration:none; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding-right:50px; float:right; width:auto; }


/* extraglobal extraimportant extravital extraextra © aibar 2012 */

.group: after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    } /* float height fix */