﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="vk_music.About" MasterPageFile="~/Page.Master" %>

<asp:Content ID="Content2" ContentPlaceHolderID="bodyID" runat="server">
<body id="about_page">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
This is about page!
</asp:Content>