﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="vk_music.Main" MasterPageFile="~/Page.Master" %>

<asp:Content ID="Content2" ContentPlaceHolderID="bodyID" runat="server">
<body id="main_page">
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="server">
This site - not for the masses
</asp:Content>
