﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Player.aspx.cs" Inherits="vk_music.Player" MasterPageFile="~/Play.Master" %>


<asp:Content ContentPlaceHolderID="ContentPlaceHolder" runat="server">
            <div id="playlist" class="playlist group">







            </div>
</asp:Content>



